/* layout rule */
/* Header css start */
.header {
  background: var(--header-bg-color);
  box-shadow: 0px 0px 2.5px 0px var(--shadow-color);
  position: relative;
}

.header.dark {
  box-shadow: 0px 0px 2px 0px var(--logo-color);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .section-header {
  padding: 1.8rem 2.4rem;
}

.logo-brand h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--brand-color);
  letter-spacing: 0.2rem;
  line-height: 1.6;

  & span {
    color: var(--brand-logo-color);
  }
}

.logo-brand.dark h2 {
  color: var(--light-bg-color);

  & span {
    color: var(--logo-color);
  }
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar {
  & a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--brand-color);
    letter-spacing: 0.1rem;
    cursor: pointer;
  }

  & a:hover {
    color: var(--brand-logo-color);
  }

  & li .active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 3rem;
    bottom: 0;
    width: 100%;
    transition: width 0.3s linear;
  }

  & li .active {
    color: var(--brand-logo-color);
  }
}

.navbar.dark {
  & a {
    color: var(--light-bg-color);
  }

  & a:hover {
    color: var(--logo-color);
  }

  & li .active {
    color: var(--logo-color);
  }
}

.mode-container {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 0.3rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.mode-container.dark .sun-icon {
  color: var(--lightmode-icon-color);
}

.mode-container .menu-navbar {
  flex-direction: column;
  align-items: center;
  margin: 7rem 0rem;
  background-color: var(--dark-bg-color);
  color: var(--light-bg-color);
}

.menu-navbar.dark {
  background-color: var(--light-bg-color);
}

.menu-navbar.dark li a {
  color: var(--brand-color);
}

.menu-navbar.dark li .active {
  color: var(--brand-logo-color);
  border-bottom: 0.2rem solid var(--brand-logo-color);
}

.menu-navbar.light li a {
  color: var(--light-bg-color);
}

.menu-navbar.light li .active {
  color: var(--logo-color);
  border-bottom: 0.2rem solid var(--logo-color);
}
/* Header css end */

/* home section start */
.hero-section {
}
#intro {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
  color: var(--text-color);
  margin-top: 6rem;
  padding: 5rem 15rem;
}

.hero-content {
  max-width: 45%;
}

.intro-greet {
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.15rem;
  text-align: left;
}

.name {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  color: var(--logo-color);
}

.designation {
  font-size: 2.5rem;
  line-height: 1.5;
  height: 0.5rem;
  /* color: var(--logo-color); */
}

.hero-image {
  border: 1rem solid var(--logo-color);
  background-image: url("../../public/images/profile_image.jpg");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 50vh;
  width: 29vw;
}

.profileImage {
  width: 22vw;
  height: 40vh;
}

.description {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.button-container {
  display: flex;
  gap: 2rem;
  margin: 2rem 0rem;
}

.commonBtn {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  border: 0.3rem solid var(--logo-color);
  padding: 1.5rem;
  border-radius: 5rem;
  text-align: center;
  width: 35%;
  max-width: 35%;
}

.socialmedia-container {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.socialmedia-icon {
  width: 3.5rem;
  height: 3.5rem;
  /* border: 0.2rem solid var(--logo-color); */
  border-radius: 50%;
  cursor: pointer;
}

.socialmedia-icon.fb {
  background-image: url("../../public/images/facebook.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.socialmedia-icon.Instagram {
  background-image: url("../../public/images/instagram.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.socialmedia-icon.gmail {
  background-image: url("../../public/images/gmail.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.socialmedia-icon.linkedin {
  background-image: url("../../public/images/linkedin.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.socialmedia-icon.whatapp {
  background-image: url("../../public/images/whatapp.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* home section end */
