/* Theme Rule start*/
:root {
  --light-bg-color: #fff;
  --light-color: #1f2544;
  --shadow-color: #3c3633;
  --header-bg-color: #eef7ff;
  --brand-color: #1679ab;
  --brand-logo-color: #074173;
  --lightmode-icon-color: #ffff80;
  --dark-bg-color: #1f2544;

  --bg-color: #1f242d;
  --text-color: #fff;
  --logo-color: #12d8fa;
  --main-color: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  --btn-color: #646cff;
  --menu-color: #2af598;
  --fb-logo: #0866ff;

  --facebook-color: #316ff6;
  --instagram-color: #ef00a2;
  --whatsapp-color: #25d366;
  --linkedin-color: #0072b1;
}

/* Theme Rule end*/

/* layout rule start*/

/* Header css start */
.header {
  background: var(--header-bg-color);
  box-shadow: 0px 0px 2.5px 0px var(--shadow-color);
  /* position: relative; */
}

.header.dark {
  box-shadow: 0px 0px 2px 0px var(--logo-color);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .section-header {
  padding: 1.8rem 2.4rem;
}

.logo-brand h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--brand-color);
  letter-spacing: 0.2rem;
  line-height: 1.6;

  & span {
    color: var(--brand-logo-color);
  }
}

.logo-brand.dark h2 {
  color: var(--light-bg-color);

  & span {
    color: var(--logo-color);
  }
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar {
  & a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--brand-color);
    letter-spacing: 0.1rem;
    cursor: pointer;
  }

  & a:hover {
    color: var(--brand-logo-color);
  }

  & li .active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 3rem;
    bottom: 0;
    width: 100%;
    transition: width 0.3s linear;
  }

  & li .active {
    color: var(--brand-logo-color);
  }
}

.navbar.dark {
  & a {
    color: var(--light-bg-color);
  }

  & a:hover {
    color: var(--logo-color);
  }

  & li .active {
    color: var(--logo-color);
  }
}

.mode-container {
  font-size: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.mode-container.dark .sun-icon {
  color: var(--lightmode-icon-color);
}

.mode-container .menu-navbar {
  flex-direction: column;
  align-items: center;
  margin: 7rem 0rem;
  background-color: var(--dark-bg-color);
  color: var(--light-bg-color);
}

.menu-navbar.dark {
  background-color: var(--light-bg-color);
}

.menu-navbar.dark li a {
  color: var(--brand-color);
}

.menu-navbar.dark li .active {
  color: var(--brand-logo-color);
  border-bottom: 0.2rem solid var(--brand-logo-color);
}

.menu-navbar.light li a {
  color: var(--light-bg-color);
}

.menu-navbar.light li .active {
  color: var(--logo-color);
  border-bottom: 0.2rem solid var(--logo-color);
}
/* Header css end */

/* home section start */
#intro {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
  color: var(--text-color);
  margin-top: 6rem;
  padding: 5rem 15rem;
}

.hero-content.light {
  color: var(--brand-color);
}

.hero-content.dark {
  color: var(--light-bg-color);
}

.intro-greet {
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.15rem;
}

.name {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--brand-logo-color);
  margin-top: 1rem;
}

.hero-content.dark .name {
  color: var(--logo-color);
}

.designation {
  font-size: 2.5rem;
  line-height: 1.5;
  height: 0.5rem;
  margin: 2rem 0rem;
}

.description {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin: 4rem 0rem;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.hero-image--cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image--cotainer img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 0.7rem solid var(--brand-logo-color);
}

.hero-image--cotainer.dark img {
  border: 0.5rem solid var(--logo-color);
}

.profileImage {
  width: 22vw;
  height: 40vh;
}

.button-container {
  display: flex;
  gap: 2rem;
  margin: 3rem 0rem;
}

.commonBtn {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.commonBtn.light {
  border: 0.1rem solid var(--brand-logo-color);
  color: var(--brand-color);
  width: 34%;
}

.commonBtn.dark {
  border: 0.1rem solid var(--logo-color);
  width: 34%;
}

.socialmedia-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  text-align: center;
}

.socialmedia-icon {
  cursor: pointer;
  font-size: 3rem;
}

.socialmedia-icon.fb {
  color: var(--facebook-color);
}

.socialmedia-icon.Instagram {
  color: var(--instagram-color);
}

.socialmedia-icon.gmail {
  width: 3rem;
  height: 3rem;
  background-image: url("../../public/images/gmail.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -0.4rem;
  border-radius: 0.8rem;
}

.socialmedia-icon.linkedin {
  color: var(--linkedin-color);
}

.socialmedia-icon.whatapp {
  color: var(--whatsapp-color);
}

/* home section end */

/* About section css start */
.title {
  font-size: 2.5rem;
  font-weight: 600;
}

.about-content .description{
  font-size: 1.6rem;
  margin: 3rem 0 3rem 0rem;
}

.listitem {
  flex-direction: column;
  gap: 1rem;
}

.listitem li{
  font-size: 1.5rem;
}


/* About section css end */

/* layout rule end*/

/* module rule or reuseable component start*/
.dark {
  background-color: var(--dark-bg-color);
  color: var(--light-bg-color);
  transition: all 0.3s linear;
}

.light {
  background-color: var(--light-bg-color);
  color: var(--light-color);
  transition: all 0.3s linear;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.hero-section .container,
.about-section .container {
  padding: 6rem 2.4rem;
  gap: 2rem;
}

button {
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  color: var(--bg-color);
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
}

.secondary-btn {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--btn-color);
  margin-left: 3.2rem;
}

.menu-icon {
  display: none;
}

.menu-container {
  background-color: var(--dark-bg-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
}

.menu-container.dark {
  background-color: var(--light-bg-color);
  transition: all 0.3s linear;
}

.cross-icon {
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.menu-container.light .cross-icon {
  color: var(--light-bg-color);
}

.menu-container.dark .cross-icon {
  color: var(--dark-bg-color);
}

/* module rule or reuseable component end*/

/* states rule start*/
button:hover {
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}

.navbar li {
  position: relative;
}

.navbar li ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3rem;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background-color: var(--brand-logo-color);
  transition: width 0.3s linear;
}

.navbar.dark li ::after {
  background-color: var(--logo-color);
  transition: width 0.3s linear;
}

.navbar li a:hover::after {
  width: 100%;
}

/* states rule end*/
