/* Theme Rule */
:root {
  --light-bg-color: #fff;
  --light-color: #1f2544;
  --shadow-color: #3c3633;
  --header-bg-color: #eef7ff;
  --brand-color: #1679ab;
  --brand-logo-color: #074173;
  --lightmode-icon-color: #ffff80;
  --dark-bg-color: #1f2544;

  --bg-color: #1f242d;
  --text-color: #fff;
  --logo-color: #12d8fa;
  --main-color: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  --btn-color: #646cff;
  --menu-color: #2af598;
  --fb-logo: #0866ff;

  --facebook-color: #316ff6;
  --instagram-color:#EF00A2;
  --whatsapp-color:#25D366;
  --linkedin-color:#0072b1;
}
