@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Open+Sans:ital@0;1&family=Permanent+Marker&display=swap");

/* Base Rule start*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%; /*1rem = 10px */
}

body {
  min-height: 100vh;
  background: var(--light-bg-color);
  color: var(--light-color);
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
}

h1 {
  /* font-family: 'Kalam', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
  color: var(--text-color);
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
  border: none;
  list-style: none;
}

ul {
  display: flex;
  gap: 3.2rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

footer {
  position: relative;
  bottom: 0;
  background-color: var(--btn-color);
  color: var(--bg-color);
  font-size: 1.4rem;
  font-weight: 500;
  /* width: 100%; */
}

/* Base Rule end*/

/* media query css start */
@media (width <= 1200px) {
  html {
    font-size: 56.25%;
    /* 9px(56.25%) */
  }
}

@media (width <= 992px) {
  html {
    font-size: 50%;
    /* 8px(50%) */
  }

  .navbar {
    display: none;
    transition: all 0.3s linear;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    margin: auto;
  }

  .mode-container {
    display: flex;
    gap: 2rem;
  }

  .commonBtn.light {
    width: 37%;
  }

  .commonBtn.dark {
    width: 37%;
  }
}

@media (width <= 768px) {
  html {
    font-size: 43.75%;
    /* 7px(43.75%)*/
  }

  .grid-two-cols {
    grid-template-columns: 1fr; /* Stack items vertically */
    transform: all o.3s linear;
  }

  .grid-three-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-image--cotainer img {
    width: 40%;
  }

  .hero-image {
    order: 1; /* Make hero-image appear first */
  }

  .hero-content {
    order: 2; /* Make hero-content appear second */
  }

  .about-section .hero-image {
    order: 1;
  }

  .about-content {
    order: 2;
  }
}

@media (width <= 576px) {
  html {
    font-size: 37.5% !important;
    /* 6px(37.5%) */
  }

  .hero-image--cotainer img {
    width: 70%;
  }

  .hero-content {
    text-align: center;
  }

  .description {
    font-size: 1.8rem;
  }

  .button-container {
    justify-content: center;
    margin: 4rem 0rem;
  }

  .socialmedia-container {
    justify-content: center;
  }

  .menu-container {
    width: 35vw;
  }

  .mode-container .menu-navbar {
    align-items: flex-start;
    margin: 7rem 4rem;
  }

  .mode-container .menu-navbar li a {
    font-size: 2.4rem;
  }

  .grid-three-cols {
    grid-template-columns: repeat(1, 1fr);
}
}
/* media query css end */
